[elasticsearch]
name=Elasticsearch repository for 8.11 packages
baseurl=https://artifacts.elastic.co/packages/8.11/yum
gpgcheck=1
gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=0
autorefresh=1
type=rpm-md
