[kibana-8.11]
name=Kibana repository for 8.11 packages
baseurl=https://artifacts.elastic.co/packages/8.11/yum
gpgcheck=1
gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=1
type=rpm-md
autorefresh=1
